discord.py
python-dotenv
openai 
numpy 
scikit-learn
loguru
beautifulsoup4
pymongo
pinecone
apscheduler
tabulate
pandas
nltk 
textblob
langchain_community 
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain 
langchain-chroma>=0.1.2
